/**
 * Photo grids: a way to display a bunch of photos/images of varying sizes
 * with support for adding caption (nest <p>Caption</p> inside div of photogrid).
 * Note: caption centering and spanning buggy in Firefox, see
 * https://bugzilla.mozilla.org/show_bug.cgi?id=616436
 * http://stackoverflow.com/questions/9943558/moz-column-span-all-completely-ignored
 * /TA 160714
 */
.photogrid {
   /* I tried several approaches to center the entire grid (only an issue when
    * grid contains few photos, it seems) but none worked. Skip centering for now.
    * Tested approaches, none worked:
    * margin: 0 auto;
    * margin-left: auto; margin-right: auto;
    * justify-content: center;
    * display: block;
    * margin: 0 auto;
    */
   -webkit-column-count: 4;
   -moz-column-count:    4;
   column-count:         4;
   -webkit-column-gap:   5px;
   -moz-column-gap:      5px;
   column-gap:           5px;
   // bg colour behind images and caption
   // helps to connect images and caption, visually
   // keep it at least until caption spans columns properly in Firefox
   background:           #eee;
}

.photogrid img {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
   // give each image some vertical padding
   // (makes for all-around padding with horiz gap above)
   margin-bottom: 4px;
}

.photogrid p {
   // we use a p tag for photogrid captions
   // span (across all columns) and center caption
	-webkit-column-span: all;
   -moz-column-span:    all;
	column-span:         all;
	text-align:          center;
   font-size:           75%;
}

